/* Recommended Products Section */
.recommended-products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.product-card-img-container {
    height: 20rem;
    /* 320px */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7fafc;
}

.product-card-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.product-card-content {
    padding: 1rem;
}

.product-card-title {
    font-size: 0.875rem;
    /* 14px */
    color: #4a5568;
}

.product-card-price {
    font-size: 1rem;
    /* 16px */
    font-weight: 500;
    color: #1a202c;
}

/* Checkout Page Styles */
.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9ca3af;
    /* gray-400 */
}

.step.active {
    color: #d8b4fe;
    /* primary */
    font-weight: 600;
}

.step-icon {
    width: 2.5rem;
    /* 40px */
    height: 2.5rem;
    /* 40px */
    border-radius: 50%;
    background-color: #f3f4f6;
    /* gray-100 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    /* 18px */
    border: 2px solid #d1d5db;
    /* gray-300 */
    transition: all 0.3s ease;
}

.step.active .step-icon {
    background-color: #d8b4fe;
    /* primary */
    color: white;
    border-color: #d8b4fe;
    /* primary */
}

.step-label {
    margin-top: 0.5rem;
    /* 8px */
    font-size: 0.875rem;
    /* 14px */
}

.form-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #d1d5db;
    /* gray-300 */
    border-radius: 0.375rem;
    /* rounded-md */
    background-color: #fff;
    color: #1f2937;
    /* gray-800 */
}

.dark .form-input {
    /* background-color: #4b5563; */
    /* gray-600 */
    border-color: #6b7280;
    /* gray-500 */
    color: #6b7280;
    /* gray-50 */
}

.btn-primary {
    background-color: #9f77c9;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    /* rounded-md */
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #a78bfa;
    /* secondary */
}

.btn-secondary {
    background-color: #e5e7eb;
    /* gray-200 */
    color: #1f2937;
    /* gray-800 */
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    /* rounded-md */
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #d1d5db;
    /* gray-300 */
}

.hero-slider {
    width: 100%;
    height: 100vh;
}

.swiper-button-next,
.swiper-button-prev {
    color: #ffffff;
}

.swiper-pagination {
    position: absolute !important;
    bottom: -140px !important;
    right: 20px !important;
    width: auto !important;
    left: auto !important;
}

.swiper-pagination-bullet {
    background: #ffffff !important;
    width: 11px !important;
    height: 11px !important;
    opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
    background-color: #ffffff !important;
    opacity: 1 !important;
}

.header-scrolled {
    transform: translateY(-74%);
}