{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card" style="border-color: #f15096;">
          <div class="card-header text-white" style="background-color: #f15096;">
            <h3 class="text-center">Join Today</h3>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="d-grid gap-2">
                <button class="btn text-white" style="background-color: #f15096;" type="submit">Sign Up</button>
              </div>
            </form>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted">Already Have An Account? <a href="{% url 'login' %}" style="color: #f15096;">Sign In</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
